@import url(../reset.css);
@import url(../header.css);
@import url(../menu.css);
@import url(../footer1.css);
@import url(../footer2.css);


/* 
==================
Form
================== 
*/
@import url("./yourListReset.css");

.form-flex {
   margin-top: 50px;
}

.form-input {
   margin-bottom: 18px;
   width: 80%;
   margin-inline: auto
}

input {
   accent-color: pink;
   caret-color: pink;
}

input:not([type="checkbox"]) {
   width: 100%;
   padding: 12px 16px;
}

input[type='submit'] {
   background: pink;
   border: 1px solid pink;
}

.form-input a {
   color: pink;
   text-decoration: underline;
}

.form-input a:hover {
   color: black;
}

@media (min-width: 1024px) {

   section .form-flex {
      height: 100dvh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
   }

   .form-flex>div {
      width: 50%;
   }

   .form-flex>div:nth-of-type(1)>* {
      width: 50%;
      margin: auto;
   }

   .form-flex h1 {
      font-size: 2rem;
      color: black;
   }

   form {
      width: 80%;
      margin: auto;
   }

}

/* 
==================
End of Fomr
================== 
*/